{% extends "base.html" %}

{% block content %}
<h1>Edit {{ book.title }}</h1>

<div class="form">
    <form action="{% url 'edit_book' pk=book.pk %}" method="POST" class="form-element">
        {% csrf_token %}
        {% for field in form %}
        <div class="">
            <label for="{{field.id_for_label}}" class="">{{ field.label }}{{ field }}</label>
        </div>
        {% endfor %}
        <div>
            <button class="button is-success" type="submit">Update Book</button>
        </div>
    </form>

</div>
{% endblock %}