{% extends "base.html" %}

{% block content %}
<h1>Books</h1>

<div>
    {% for book in books %}
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h2>{{ book.title }}</h2>
                <p>{{ book.author }}</p>
                <p>{{ book.description }}</p>
                {% for category in book.categories.all %}
                    <p>Categories: {{ category.name }}</p>
                {% endfor %}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{% url 'view_book' pk=book.pk %}" class="card-footer-item">View Book Info</a>
        </footer>
    </div>
    {% endfor %}
</div>


{% endblock %}