{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/c9e30def35.js" crossorigin="anonymous"></script>
    <script src="{% static 'books.js' %}" defer></script>
    <title>FreeShelf</title>
</head>
<body class="body">
    <nav>
        <p><a href="{% url 'home' %}">FreeShelf</a></p>
        <p><a href="{% url 'list_books' %}">All Books</a></p>
        <p><a href="/accounts/login">Login</a></p>
    </nav>
        <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>